nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

}

body {
    background-color: #D3D3D3;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#inputDiv,
#single,
#squad {
    border: solid 1px black;
    margin: 5px;
    padding: 05px;
    text-align: center;
}

#statDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 50vw;
}

#ship-input {
    width: 275px;
    text-align: center;
}

#quantity-input {
    width: 50px;
    text-align: center;
}

.poorlyNamedFormat {
    max-width: 50vw;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

div h2:first-child {
    grid-column: 1/5;
    text-align: center;
}

.hidden {
    visibility: hidden;
}